[Unit]
Description=timer for biweekly backup clean of %i starting from the first day of the month

[Timer]
OnCalendar=*-*-1,15 00:00:00
Persistent=true
Unit=run-backup-clean@%i.service

[Install]
WantedBy=default.target
