[Unit]
Description=timer for biweekly backup of %i starting from the second day of the month

[Timer]
OnCalendar=*-*-2 00:00:00
Persistent=true
Unit=run-backup@%i.service

[Install]
WantedBy=default.target
