[Unit]
Description=timer for monthly backup clean of %i

[Timer]
OnCalendar=monthly
Persistent=true
Unit=run-backup-clean@%i.service

[Install]
WantedBy=default.target
