[Unit]
Description=backup of %i

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/%i.conf
ExecStart=restic backup --verbose -x $EXCLUDE_LIST $PATH_TO_BACKUP
ExecStartPost=restic unlock
ExecStartPost=restic forget --verbose --prune --keep-daily $RETENTION_DAYS --keep-weekly $RETENTION_WEEKS --keep-monthly $RETENTION_MONTHS --keep-yearly $RETENTION_YEARS
ExecStopPost=restic unlock
