[Unit]
Description=backup of %i

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/%i.conf
ExecStart=/bin/sh -c "restic backup --verbose -x $RESTIC_BACKUP_ARGS $PATH_TO_BACKUP"  
ExecStartPost=/bin/sh -c "restic unlock"
ExecStartPost=/bin/sh -c "restic forget --verbose --prune --keep-daily $RETENTION_DAYS --keep-weekly $RETENTION_WEEKS --keep-monthly $RETENTION_MONTHS --keep-yearly $RETENTION_YEARS"
