[Unit]
Description=timer for weekly backup clean of %i

[Timer]
OnCalendar=weekly
Persistent=true
Unit=run-backup-clean@%i.service

[Install]
WantedBy=default.target
